<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Staff</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Working Date</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row">
                    <div class="col-md-12">
                        <div style="height: 570px; overflow: scroll;overflow-x: hidden">
                            <table class="table table-striped datatable custom-table mb-0" id="tblModule">
                                <thead>
                                    <tr>
                                        <th>Class Name</th>
                                        <th>Working Day</th>
                                        <th>Time</th>
                                        <th>Room</th>
                                        <th>Dow</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyTeachingDate">
                                    <tr th:each="e: ${listTeaching}">
                                        <td th:text="${e.getClassname()}"></td>
                                        <td th:text="${e.getTeachingdate()}"></td>
                                        <td th:text="${e.getTime()}"></td>
                                        <td th:text="${e.getRoom()}"></td>
                                        <td th:text="${e.getDow()}"></td>
                                    </tr>                         
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

            </div>
        <!-- /Experience Modal -->
        <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">

    $(document).ready(function () {
        //        var title = "[[${messageResult}]]";
        //        if (title !== null && title !== "") {
        //            Swal.fire({
        //                icon: 'success',
        //                title: "Notification !",
        //                text: title
        //            });
        //        }

        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>