<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Module</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="/admin/staffdashboard">Dashboard</a></li>
                            <!--<li class="breadcrumb-item active">Module</li>-->
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Solid justified</h4> -->
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboard">Dashboard</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link " href="/admin/staffdashboardmodule">Module</a></li>
                                                        <li class="nav-item"><a class="nav-link " href="/admin/staffdashboardcourse">Course</a></li>-->
                            <li class="nav-item"><a class="nav-link active" href="/admin/staffdashboardstudent">Student</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboardclass">Class</a></li>

                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboardinterviewing">Interviewing</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link" href="visited-jobs.html">Visitied </a></li>
                                                        <li class="nav-item"><a class="nav-link" href="archived-jobs.html">Archived </a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">  
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating"/>
                            <label class="focus-label">Student Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">  

                    </div>
                    <div class="col-sm-6 col-md-3">  
                        <a href="#" class="btn btn-dark btn-block"> Add New Student </a>  
                    </div>
                    <div class="col-sm-6 col-md-3">  
                        <a href="#" class="btn btn-success btn-block"> Search </a>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Job Title</th>
                                        <th>Department</th>
                                        <th>Start Date</th>
                                        <th>Expire Date</th>
                                        <th class="text-center">Job Type</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="job-details.html">Web Developer</a></td>
                                        <td>Development</td>
                                        <td>3 Mar 2019</td>
                                        <td>31 May 2019</td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-danger"></i> Full Time
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-danger"></i> Open
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="job-details.html">Web Designer</a></td>
                                        <td>Designing</td>
                                        <td>3 Mar 2019</td>
                                        <td>31 May 2019</td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-success"></i> Part Time
                                                </a>

                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-success"></i> Closed
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="job-details.html">Android Developer</a></td>
                                        <td>Android</td>
                                        <td>3 Mar 2019</td>
                                        <td>31 May 2019</td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-danger"></i> Internship
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-dot-circle-o text-danger"></i> Cancelled
                                                </a>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>