<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul id="leftsidebarMenu">
                <li class="activehome1">
                    <a href="/admin/dashboard" sec:authorize='hasAnyAuthority("FUNCT00014")'><i class="la la-dashboard"></i> <span> Dashboard</span></a>
                </li>
                <li class="activehom14" sec:authorize='hasAnyAuthority("FUNCT00011")'> 
                    <a href="/admin/module"><i class="la la-codepen"></i> <span>Modules & Courses</span></a>
                </li>
                <li class="activehome2"  sec:authorize='hasAnyAuthority("FUNCT00002")'>
                    <a href="/admin/stafflist"><i class="la la-user-cog"></i> <span>Staffs</span></a>
                </li>
                <li class="activehom11" sec:authorize='hasAnyAuthority("FUNCT00016")'> 
                    <a href="/admin/users"><i class="la la-key"></i> <span>Users</span></a>
                </li>
                <li class="activehome3" sec:authorize='hasAnyAuthority("FUNCT00001")'>
                    <a href="/admin/student"><i class="la la-user"></i> <span>Students</span></a>
                </li>
                <li class="activehome5" sec:authorize='hasAnyAuthority("FUNCT00004")'>
                    <a href="/admin/classes"><i class="la la-university"></i> <span>Classes</span></a>
                </li>
                <li class="activehome6" sec:authorize='hasAnyAuthority("FUNCT00026")'>
                    <a href="/admin/workingschedule"><i class="la la-calendar"></i> <span>Teaching Timetable</span></a>
                </li>
                <li class="activehome9" sec:authorize='hasAnyAuthority("FUNCT00023")'>
                    <a href="/admin/classes"><i class="la la-calendar"></i> <span>Student Calendar</span></a>
                </li>
                <li class="activehom16" sec:authorize='hasAnyAuthority("FUNCT00009")'>
                    <a href="/admin/staffdashboard"><i class="la la-filter"></i> <span>Statistics</span></a>
                </li>
                <li class="activehom10" sec:authorize='hasAnyAuthority("FUNCT00013")'>
                    <a href="/admin/classes"><i class="la la-user-check"></i> <span>Attendance List</span></a>
                </li>
                <li sec:authorize='hasAnyAuthority("FUNCT00017")'> 
                    <a href="/admin/setting"><i class="la la-cog"></i> <span>Setting General</span></a>
                </li>
                <li class="activehom15" sec:authorize='hasAnyAuthority("FUNCT00025")'>
                    <a href="/admin/staffdashboard"><i class="la la-columns"></i> <span>Staff Dashboard</span></a>
                </li>
                <li class="activehom17" sec:authorize='hasAnyAuthority("FUNCT00018")'>
                    <a href="/admin/teacherdashboard"><i class="la la-columns"></i> <span>Teacher Dashboard</span></a>
                </li>
                <li class="activehom18" sec:authorize='hasAnyAuthority("FUNCT00027")'>
                    <a href="/admin/teacherdashboard"><i class="la la-columns"></i> <span>Teacher Timetable</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->