<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Details Class</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Details Class</li>
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 m-b-20">
                                        <!--<img src="assets/img/logo2.png" class="inv-logo" alt="">-->
<!--                                        <ul class="list-unstyled">
                                            <li>Center: FPT APTECH ACADEMY</li>
                                            <li>Branch: CMT8</li>
                                            <li>Address: 590 CMT8 Q3 Tp HCM</li>
                                            <li>Hotline: 111-2222-333</li>
                                        </ul>-->
                                    </div>
                                    <div class="col-sm-6 m-b-20">
                                        <div class="invoice-details">
                                            <h3 class="text-uppercase">ROOM 1.1#CLASS0001</h3>
<!--                                            <ul class="list-unstyled">
                                                <li>Date: <span>March 12, 2019</span></li>
                                                <li>Due date: <span>April 25, 2019</span></li>
                                            </ul>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-7 col-xl-4 m-b-20">
                                        <div class="card recent-activity">
                                            <div class="card-body">
                                                <h5 class="card-title">Course</h5>
                                                <ul class="res-activity-list">
                                                    <li>
                                                        <p class="mb-0">Course Name:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i>
                                                            <span th:text="${dtcourse.getCoursename()}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Course Open:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-clock-o"></i>

                                                            <span th:text="${#dates.format(dtcourse.getOpentimecourse(), 'dd-MM-yyyy')}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Course Start:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span th:text="${#dates.format(dtcourse.getStartcourse(), 'dd-MM-yyyy')}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Course End:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span th:text="${#dates.format(dtcourse.getEndcourse(), 'dd-MM-yyyy')}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Number Lesson:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i>
                                                            <span th:text="${dtcourse.getNumberlesson()}"></span> lectures
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-5 col-xl-4 m-b-20">
                                        <div class="card recent-activity">
                                            <div class="card-body">
                                                <h5 class="card-title">Modules</h5>
                                                <ul class="res-activity-list">
                                                    <li th:each="t : ${dlModule}">
                                                        <p class="mb-0">Module Name: <span th:text="${t.modulename}"></span></p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i>
                                                            Module Time: <span th:text="${t.moduletime}"></span>.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-5 col-xl-4 m-b-20">
                                        <div class="card recent-activity">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="card-title" style="font-size: 17px">
                                                            Class
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="col-auto float-right ml-auto">
                                                            <div class="btn-group btn-group-sm">
                                                                <button class="btn btn-white"> <i class="fa fa-edit"></i> Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <ul class="res-activity-list">
                                                    <li>
                                                        <p class="mb-0">Class Name:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i>
                                                            <span th:text="${classInfor.getClassname()}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Studying Time:</p>
                                                        <div class="row" th:each="e: ${classInfor.getTimestudying()}" style="margin-left: 3px;">
                                                            <p class="res-activity-time">
                                                                <i class="fa fa-clock-o"></i>
                                                                <span th:text="${e}"></span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Shift:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-clock-o"></i> 
                                                            <span th:text="${classInfor.getShiftname()}"></span>
                                                        </p>

                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Seats:</p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i> 
                                                            Total : <span th:text="${classInfor.getToalseats()}"></span>
                                                        </p>
                                                        <p class="res-activity-time">
                                                            <i class="fa fa-check"></i> 
                                                            Actually : <span th:text="${classInfor.getActuallyseats()}"></span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="mb-0">Teacher:</p>
                                                        <div class="row" th:each="e: ${classInfor.getTeacher()}" style="margin-left: 3px;">
                                                            <p class="res-activity-time">
                                                                <i class="fa fa-user"></i> 
                                                                <span th:text="${e}"></span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-2" style="margin-top:10px">
                                        <h5 class="card-title">Students List</h5>
                                    </div>
<!--                                    <div class="col-sm-5">
                                        <input class="form-control" type="text" name="searchName" placeholder="Enter Student Name" style="border-radius: 10px"/>
                                    </div>-->
                                    <div class="col-sm-5" style="margin-top:10px">
                                        <div class="col-auto float-right ml-auto">
<!--                                            <div class="btn-group btn-group-sm">
                                                <button class="btn btn-white"> <i class="fa fa-search"></i> Search</button>
                                            </div>-->
                                            <!--                                            <div class="btn-group btn-group-sm">
                                                                                            <button class="btn btn-white"> <i class="fa fa-plus"></i> Add Student</button>
                                                                                        </div>-->
                                            <!--                                            <div class="btn-group btn-group-sm">
                                                                                            <button class="btn btn-white"> <i class="fa fa-check"></i> Attendance</button>
                                                                                        </div>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Student Name</th>
                                                <th>Student Phone</th>
                                                <th>Parent Name</th>
                                                <th>Parent Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="e: ${dlStudent}">
                                                <td><a th:href="@{/admin/studenttimetable/{id}(id=${e.getStudentcode()})}" th:text="${e.getStudentcode()}"></a></td>
                                                <td th:text="${e.getStudentname()}"></td>
                                                <td th:text="${e.getStudentphone()}"></td>
                                                <td th:text="${e.getParentsname()}"></td>
                                                <td th:text="${e.getParentsphone()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">

    function loadUserList() {
        $.ajax({
            type: "GET",
            url: "/admin/loadUsers",
            success: function (result) {

                var row = "";

                $.each(result, function (index, value) {
                    row += "<tr>\n\
                        <td>\n\
                            <h2 class=\"table-avatar\">\n\
                                    <a href=\"profile.html\" class=\"avatar\"><img src=\"/admin/assets/img/user.jpg\" alt=\"\"/></a>\n\
                                    <a href=\"profile.html\">" + value.fullname + " <span>Admin</span></a>\n\
                            </h2>\n\
                        </td>\n\
                        <td>" + value.useremail + "</td>\n\
                        <td>\n\
                            <span class=\"badge bg-inverse-danger\">" + value.permision + "</span>\n\
                        </td>\n\
                        <td class=\"text-right\">\n\
                            <div class=\"dropdown dropdown-action\">\n\
                                <a href=\"#\" class=\"action-icon dropdown-toggle\" data-toggle=\"dropdown\" aria-expanded=\"false\"><i class=\"material-icons\">more_vert</i></a>\n\
                                <div class=\"dropdown-menu dropdown-menu-right\">\n\
                                    <a class=\"dropdown-item\" href=\"#\" data-toggle=\"modal\" data-target=\"#edit_user\"><i class=\"fa fa-pencil m-r-5\"></i> Edit</a>\n\
                                    <a class=\"dropdown-item\" href=\"#\" data-toggle=\"modal\" data-target=\"#delete_user\"><i class=\"fa fa-trash-o m-r-5\"></i> Delete</a>\n\
                                </div>\n\
                            </div>\n\
                        </td>\n\
                    </tr>";
                });

                $("#tblUserList tbody").append(row);
                $('#tblUserList').DataTable();
            }
        });
    }


    $(document).ready(function () {

        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
//        loadUserList();
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>