<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            .login-danger{
                color: red;
            }
            .form-title-as {
                width: 100%;
                max-width: 100%;
                padding: 0;
                font-size: 1rem;
                font-weight: 500;
                line-height: inherit;
                color: #333;
                white-space: normal;
                position: relative;
                display: block;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Class</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="index.html">Student List</a></li>
                            <li class="breadcrumb-item active">Add New Student</li>
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Student Information</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/templates/admin/pages/createNewStudent}" method="post">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="form-title-as student-info"> -- Student -- <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Roll </label>
                                                <input class="form-control" name="studentcode" id="studentcode" type="text" placeholder="Enter Roll Number" readonly="True"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Name <span class="login-danger">*</span></label>
                                                <input class="form-control" name="studentname" id="studentname" type="text" placeholder="Enter Name"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Gender <span class="login-danger">*</span></label>
                                                <select class="form-control select" name="sltGender" id="sltGender">
                                                    <option>Select Gender</option>
                                                    <option value="0">Female</option>
                                                    <option value="1">Male</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms calendar-icon">
                                                <label>Date Of Birth <span class="login-danger">*</span></label>
                                                <input class="form-control datetimepicker" type="text" placeholder="DD-MM-YYYY" id="studentdob" name="studentdob"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Phone </label>
                                                <input class="form-control" name="studentphone" id="studentphone" type="text" placeholder="Enter Phone"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>E-Mail <span class="login-danger">*</span></label>
                                                <input class="form-control" type="text" name="studentemail" id="studentemail" placeholder="Enter Email Address"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Class <span class="login-danger">*</span></label>
                                                <select class="form-control select" id="sltClass" name="sltClass">
                                                    <option value="" selected="True" disabled="True">-- Select Class --</option>
                                                    <option th:each="class : ${dtClass}"
                                                            th:text="${class.classname}"
                                                            th:value="${class.classcode}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Status <span class="login-danger">*</span></label>
                                                <select class="form-control select" name="sltStatusStudent" id="sltStatusStudent">
                                                    <option>Please Select Status </option>
                                                    <option value="0">Trial</option>
                                                    <option value="1">Formal</option>
                                                    <option value="2">Advise</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Level <span class="login-danger">*</span></label>
                                                <select class="form-control select" name="sltStudentPaid" id="sltStudentPaid">
                                                    <option value="" disabled="True" selected="True">Please Select Paid </option>
                                                    <option value="0">Paid</option>
                                                    <option value="1">Partially Paid</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Address </label>
                                                <input class="form-control" name="studentaddress" id="studentaddress" type="text" placeholder="Enter Address"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Parent Name <span class="login-danger">*</span></label>
                                                <input class="form-control" name="parentname" id="parentname" type="text" placeholder="Enter Student Name"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label>Parent Phone </label>
                                                <input class="form-control" type="text" name="parentphone" id="parentphone" placeholder="Enter Student Phone Number"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
//        var title = "[[${messageResult}]]";
//        if (title !== null && title !== "") {
//            Swal.fire({
//                icon: 'success',
//                title: "Notification !",
//                text: title
//            });
//        }

        var roll = "[[${roll}]]";
        if (roll !== null && roll !== "") {
            $('#studentcode').val(roll);
        }

        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);

        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>