<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Module</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Module</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Solid justified</h4> -->
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link active" href="/admin/module">Module</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/course">Course </a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/modulecourse">Relationship</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3"> 
                        <div class="form-group form-focus select-focus">
                            <select class="select floating" id="sltclassblock">
                                <option value="All">All</option>
                                <option value="KL00000001">English For Children</option>
                                <option value="KL00000002">English For Teen</option>
                                <option value="KL00000003">English For Student</option>
                                <option value="KL00000004">English For Working People</option>
                                <option value="KL00000005">IELTS</option>
                            </select>
                            <label class="focus-label">Class Block</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                    </div>
                    <div class="col-sm-6 col-md-3" sec:authorize='hasAnyAuthority("PG00000005")'>
                        <!--<a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-plus"></i> Add Module</a>-->
                    </div>
                    <div class="col-sm-6 col-md-3">  
                        <a href="#" class="btn btn-success btn-block" onclick="loadModuleByClassBlock()"> Search </a>  
                    </div>

                    
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-12">
                        <div style="height: 570px; overflow: scroll;overflow-x: hidden">
                            <table class="table table-striped datatable custom-table mb-0" id="tblModule">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Module Name</th>
                                        <th>Module Content</th>
                                        <th>Module Time</th>
                                        <th class="text-right" sec:authorize='hasAnyAuthority("PG00000007")'>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyModule">
                                    <tr th:each="e: ${moduleList}">
                                        <td><a th:href="@{/admin/detailclasslecture/{id}(id=${e.getModulecode()})}" th:text="${e.getModulecode()}"></a></td>
                                        <td th:text="${e.getModulename()}"></td>
                                        <td th:text="${e.getModulenote()}"></td>
                                        <td th:text="${e.getModuletime()}"></td>
                                        <td class="text-right" sec:authorize='hasAnyAuthority("PG00000007")'>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <!--<a class="dropdown-item" th:onclick="'javascript:editCenterModal(' + ${e.getModulecode()} + ')'"><i class="fa fa-pencil m-r-5"></i> Edit</a>-->
                                                    <!--<a class="dropdown-item" th:onclick="'javascript:deleteCenterModal(' + ${e.getModulecode()} + ')'"><i class="fa fa-trash-o m-r-5"></i> Delete</a>-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                         
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">

    function loadModuleByClassBlock() {
        var idclassblock = $('#sltclassblock option:selected').val();
        $.ajax({
            type: "GET",
            data: {idclassblock: idclassblock},
            url: "/admin/loadModuleByClassBlock",
            success: function (result) {
                $('#bodyModule').empty();
                $.each(result, function (index, value) {
                    var moduleRow = "<tr>\n\
                                        <td>" + value.modulecode + "</td>\n\
                                        <td>" + value.modulename + "</td>\n\
                                        <td>" + value.modulenote + "</td>\n\
                                        <td>" + value.moduletime + "</td>\n\
                                        <td class=\"text-right\" sec:authorize='hasAnyAuthority(\"PG00000007\")'>\n\
                                            <div class=\"dropdown dropdown-action\">\n\
                                                <a href=\"#\" class=\"action-icon dropdown-toggle\" data-toggle=\"dropdown\" aria-expanded=\"false\"><i class=\"material-icons\">more_vert</i></a>\n\
                                                <div class=\"dropdown-menu dropdown-menu-right\">\n\
                                                    <a class=\"dropdown-item\" th:onclick=\"'javascript:editCenterModal(' + ${e.getModulecode()} + ')'\"><i class=\"fa fa-pencil m-r-5\"></i> Edit</a>\n\
                                                </div>\n\
                                            </div>\n\
                                        </td>\n\
                                    </tr>";

                    $("#tblModule tbody").append(moduleRow);
                });
            }
        });
    }

    $(document).ready(function () {
        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>