<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a href="#"><img alt="" th:src="@{${'/admin/assets/img/'+tbstaffdto.getImage()}}"/></a>
                                        </div>
                                    </div>
                                    <div class="profile-basic">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="profile-info-left">
                                                    <div class="profile-box flex-fill">

                                                        <div class="card-body">
                                                            <h3 class="card-title" th:text="${tbstaffdto.getName()}"></h3>
                                                            <div class="experience-box">
                                                                <ul class="experience-list">
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Position : <span style="color:#6f42c1" th:text="${tbstaffdto.getPositionname()}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Staff ID : <span style="color:#6f42c1" th:text="${tbstaffdto.getCode()}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Date of Join : <span style="color:#6f42c1">1st Jan 2013</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="profile-info-left">
                                                    <div class="profile-box flex-fill">
                                                        <div class="card-body">
                                                            <h3 class="card-title"></h3>
                                                            <div class="experience-box">
                                                                <ul class="experience-list">
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                <div class="title">Phone: <span style="color:#6f42c1" th:text="${tbstaffdto.getPhone()}"></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Email: <span style="color:#6f42c1" th:text="${tbstaffdto.getEmail()}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Birthday: <span style="color:#6f42c1" th:text="${#dates.format(tbstaffdto.getDob(), 'dd-MM-yyyy')}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Address: <span style="color:#6f42c1" th:text="${tbstaffdto.getAddress()}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                Gender: <span style="color:#6f42c1" th:if="${tbstaffdto.getGender()} == '0'">Male</span>
                                                                                <span style="color:#6f42c1" th:unless="${tbstaffdto.getGender()} == '0'">Female</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-edit"><a data-target="#profile_info" data-toggle="modal" class="edit-icon" href="#"><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->

            <!-- Profile Modal -->
            <div id="profile_info" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Profile Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/templates/admin/pages/updateProfile}" th:object="${tbstaffdto}" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="profile-img-wrap edit-img">
                                            <img class="inline-block" th:src="@{${'/admin/assets/img/'+tbstaffdto.getImage()}}" alt="user"/>
                                            <div class="fileupload btn">
                                                <span class="btn-text">edit</span>
                                                <input class="upload" type="file" th:field="*{img}"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="hidden" th:field="*{code}" class="form-control" th:value="${tbstaffdto.getCode()}"/>
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" th:field="*{name}" class="form-control" th:value="${tbstaffdto.getName()}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Birth Date</label>
                                                    <div class="cal-icon">
                                                        <input class="form-control datetimepicker" th:field="*{dob}" type="datetime" name="dateofbirth" th:value="${tbstaffdto.getDob()}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="select form-control" th:field="*{gender}" th:value="${tbstaffdto.getGender()}">
                                                        <option value="0">Male</option>
                                                        <option value="1">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" th:field="*{phone}" th:value="${tbstaffdto.getPhone()}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" th:field="*{address}" th:value="${tbstaffdto.getAddress()}"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Profile Modal -->
        </div>
    </body>
</html>
<script type="text/javascript">

    function loadUserList() {
        $.ajax({
            type: "GET",
            url: "/admin/loadUsers",
            success: function (result) {
                //                $('#listUser').empty();
                var row = "";

                //                $('#tblUserList').DataTable({
                //                    data: [
                //                        new Employee("Tiger Nixon", "System Architect", "$3,120", "Edinburgh"),
                //                        new Employee("Garrett Winters", "Director", "$5,300", "Edinburgh")
                //                    ],
                //                    columns: [
                //                        {data: 'name'},
                //                        {data: 'salary'},
                //                        {data: 'office'},
                //                        {data: 'position'}
                //                    ]
                //                });
                //
                //                $('#tblUserList').DataTable({
                //                    data: result
                //                });

                $.each(result, function (index, value) {
                    row += "<tr>\n\
                        <td>\n\
                            <h2 class=\"table-avatar\">\n\
                                    <a href=\"profile.html\" class=\"avatar\"><img src=\"/admin/assets/img/user.jpg\" alt=\"\"/></a>\n\
                                    <a href=\"profile.html\">" + value.fullname + " <span>Admin</span></a>\n\
                            </h2>\n\
                        </td>\n\
                        <td>" + value.useremail + "</td>\n\
                        <td>\n\
                            <span class=\"badge bg-inverse-danger\">" + value.permision + "</span>\n\
                        </td>\n\
                        <td class=\"text-right\">\n\
                            <div class=\"dropdown dropdown-action\">\n\
                                <a href=\"#\" class=\"action-icon dropdown-toggle\" data-toggle=\"dropdown\" aria-expanded=\"false\"><i class=\"material-icons\">more_vert</i></a>\n\
                                <div class=\"dropdown-menu dropdown-menu-right\">\n\
                                    <a class=\"dropdown-item\" href=\"#\" data-toggle=\"modal\" data-target=\"#edit_user\"><i class=\"fa fa-pencil m-r-5\"></i> Edit</a>\n\
                                    <a class=\"dropdown-item\" href=\"#\" data-toggle=\"modal\" data-target=\"#delete_user\"><i class=\"fa fa-trash-o m-r-5\"></i> Delete</a>\n\
                                </div>\n\
                            </div>\n\
                        </td>\n\
                    </tr>";
                });

                $("#tblUserList tbody").append(row);
                $('#tblUserList').DataTable();
            }
        });
    }


//                                                $(document).ready(function () {
    //        var active = localStorage.getItem('active');
    //        var actives = active.substr(0, 11);
    //        loadUserList();
    //        $('#leftsidebarMenu li a').removeClass('active');
    //        $('#leftsidebarMenu li').removeClass('active');
    //        $('#leftsidebarMenu li.' + actives).addClass('active');
//                                                });
</script>