<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_setting_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Center</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">Center</li>
                            </ul>
                        </div>
                        <div class="col-auto float-right ml-auto">
                            <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Center</a>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th style="width: 30px;">#</th>
                                        <th>Center Name</th>
                                        <th>Center Address</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="e: ${centerList}">
                                        <td th:text="${e.getCentercode()}"></td>
                                        <td th:text="${e.getCentername()}"></td>
                                        <td th:text="${e.getCenteraddress()}"></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" th:onclick="'javascript:editCenterModal(' + ${e.getCentercode()} + ')'"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" th:onclick="'javascript:deleteCenterModal(' + ${e.getCentercode()} + ')'"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                         
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->

            <!-- Add Department Modal -->
            <div id="add_department" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Center</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/setting/create}" th:object="${center}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Center Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" th:field="*{centername}">
                                </div>
                                <div class="form-group">
                                    <label>Center Phone <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" th:field="*{centerphone}">
                                </div>
                                <div class="form-group">
                                    <label>Center Address <span class="text-danger">*</span></label>
                                    <textarea class="form-control" type="text" th:field="*{centeraddress}"></textarea>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Add Department Modal -->

            <!-- Edit Department Modal -->
            <div id="edit_department" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Center</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/setting/update}" th:object="${center}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Center Code <span class="text-danger">*</span></label>
                                    <input id="centercodes" class="form-control" value="" type="text" th:field="*{centercode}" readonly="true">
                                </div>
                                <div class="form-group">
                                    <label>Center Name <span class="text-danger">*</span></label>
                                    <input id="centernames" class="form-control" value="" th:field="*{centername}" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Center Phone <span class="text-danger">*</span></label>
                                    <input id="centerphones" class="form-control" value="" th:field="*{centerphone}" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Center Address <span class="text-danger">*</span></label>
                                    <textarea id="centeraddresss" class="form-control" th:field="*{centeraddress}"></textarea>
                                </div>
                                <input hidden="true" id="centernotes" class="form-control" value="" th:field="*{centernote}" type="text"> 
                                    <input hidden="true" id="centerdefaults" class="form-control" th:field="*{centerdefault}" type="number"/>
                                    <input hidden="true" id="isdeletes" class="form-control" th:field="*{isdelete}" type="number"/>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Edit Department Modal -->

            <!-- Delete Department Modal -->
            <div class="modal custom-modal fade" id="delete_department" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Center</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <form th:action="@{/admin/setting/deleteCenterModal}" method="POST" enctype="multipart/form-data">
                                    <input hidden="true" id="idcenterDlt" name="idcenterDlt" class="form-control" type="text"/>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary continue-btn">Delete</button>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete Department Modal -->
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var title = "[[${messageResult}]]";
        if (title !== null && title !== "") {
            Swal.fire({
                icon: 'success',
                title: "Notification !",
                text: title
            });
        }
    });
</script>