<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Staff</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Teacher</li>
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->

                <!-- Search Filter -->
                <div class="row filter-row">

                    <div class="col-sm-6 col-md-3">  
                        <div class="form-group form-focus">
                            <input type="text" class="form-control floating"/>
                            <label class="focus-label">Staff Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3"> 
<!--                        <div class="form-group form-focus select-focus">
                            <select class="select floating" id="sltPosition"> 
                                <option value="">Select Position</option>
                                <option value="PG00000001">Advise</option>
                                <option value="PG00000002">Cashier</option>
                                <option value="PG00000003">Consultant</option>
                                <option value="PG00000004">Teacher</option>
                                <option value="PG00000005">Student</option>
                                <option value="PG00000006">Branch Admin</option>
                                <option value="PG00000007">System Admin</option>
                                <option value="PG00000008">Training</option>
                            </select>
                            <label class="focus-label">Position</label>
                        </div>-->
                    </div>
                    <div class="col-sm-6 col-md-3">  
                        <a href="#" class="btn btn-success btn-block"> Search </a>  
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Staff</a>
                    </div>
                </div>
                <!-- Search Filter -->

                <div class="row staff-grid-row" id="listStaff">

                </div>
            </div>
            <!-- /Page Content -->

            <!-- Add Employee Modal -->
            <div id="add_employee" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Staff</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/staff/addNewStaff}" method="POST">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" required="True" id="addstaffname" name="addstaffname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" required="True" id="addstaffusername" name="addstaffusername">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                            <input class="form-control" type="email" required="True" id="addstaffemail" name="addstaffemail">
                                        </div>
                                    </div>
                                    <!--                                    <div class="col-sm-6">  
                                                                            <div class="form-group">
                                                                                <label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
                                                                                <div class="cal-icon"><input class="form-control datetimepicker" type="text" required="True"/></div>
                                                                            </div>
                                                                        </div>-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gender <span class="text-danger">*</span></label>
                                            <select class="select" required="True" id="addsltstaffgender" name="addsltstaffgender">
                                                <option value="">Select</option>
                                                <option value="0">Male</option>
                                                <option value="1">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Position <span class="text-danger">*</span></label>
                                            <select class="select" required="True" id="addsltstaffposition" name="addsltstaffposition">
                                                <option value="">Select</option>
                                                <option value="PG00000001">Advise</option>
                                                <option value="PG00000002">Cashier</option>
                                                <option value="PG00000003">Consultant</option>
                                                <option value="PG00000004">Teacher</option>
                                                <option value="PG00000005">Student</option>
                                                <option value="PG00000006">Branch Admin</option>
                                                <option value="PG00000007">System Admin</option>
                                                <option value="PG00000008">Training</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Add Employee Modal -->

            <!-- Edit Employee Modal -->
            <div id="edit_staff" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Staff</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/staff/updateDetails}" method="POST">
                                <div class="row" id="editstaffmd">
                                    <input class="form-control" type="hidden" id="editstaffcode" name="editstaffcode" readonly="True">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text" id="editstaffname" name="editstaffname" readonly="True">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                                <input class="form-control" type="email" id="editstaffemail" name="editstaffemail" readonly="True">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Position <span class="text-danger">*</span></label>
                                                <select class="select" id="slteditstaffposition" name="slteditstaffposition">
                                                    <option value="">Select</option>
                                                    <option value="PG00000001">Advise</option>
                                                    <option value="PG00000002">Cashier</option>
                                                    <option value="PG00000003">Consultant</option>
                                                    <option value="PG00000004">Teacher</option>
                                                    <option value="PG00000005">Student</option>
                                                    <option value="PG00000006">Branch Admin</option>
                                                    <option value="PG00000007">System Admin</option>
                                                    <option value="PG00000008">Training</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Edit Employee Modal -->

            <!-- Delete Employee Modal -->
            <div class="modal custom-modal fade" id="delete_employee" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Employee</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete Employee Modal -->
        </div>
    </body>
</html>
<script type="text/javascript">

    function loadStaffDetails(staffID) {
        $.ajax({
            type: "GET",
            data: {staffID: staffID},
            url: "/admin/loadStaffDetails",
            success: function (result) {
                $('#editstaffcode').val(result.code);
                $('#editstaffname').val(result.name);
                $('#editstaffemail').val(result.email);
                $('#slteditstaffgender').val(result.gender).change();
                $('#slteditstaffposition').val(result.typestaff).change();
                $('#edit_staff').modal("show");
            }
        });
    }

    function loadStaffList() {
        $.ajax({
            type: "GET",
            url: "/admin/loadStaffList",
            success: function (result) {
                $('#listStaff').empty();
                var row = "";
                $.each(result, function (index, value) {

                    row = "<div class=\"col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3\">\n\
                    <div class=\"profile-widget\">\n\
<div class=\"profile-img\">";
                    if (value.image !== null) {
                        row += "<a href=\"#\" class=\"avatar\"><img width=\"80px\" height=\"80px\" src=" + value.image + "\"/admin/assets/img\" alt=\"\"/></a>";
                    } else {
                        row += "<a href=\"#\" class=\"avatar\"><img width=\"80px\" height=\"80px\" src=\"/admin/assets/img/user.jpg\" alt=\"\"/></a>";
                    }

                    row += "</div>\n\
<div class=\"dropdown profile-action\">\n\
    <a href=\"#\" class=\"action-icon dropdown-toggle\" data-toggle=\"dropdown\" aria-expanded=\"false\"><i class=\"material-icons\">more_vert</i></a>\n\
    <div class=\"dropdown-menu dropdown-menu-right\">\n\
        <a class=\"dropdown-item\" href=\#\" onclick=\"loadStaffDetails('" + value.code + "')\"><i class=\"fa fa-pencil m-r-5\"></i> Edit</a>\n\
        <a class=\"dropdown-item\" href=\"#\" data-toggle=\"modal\" data-target=\"#delete_employee\"><i class=\"fa fa-trash-o m-r-5\"></i> Delete</a>\n\
    </div>\n\
</div>\n\
<h4 class=\"user-name m-t-10 mb-0 text-ellipsis\"><a href=\"#\">" + value.name + "</a></h4>\n\
<!--<div class=\"small text-muted\">" + value.typestaffname + "</div>-->\n\
</div>\n\
</div>";

                    $("#listStaff").append(row);
                });

            }
        });
    }

    $(document).ready(function () {
//        var title = "[[${messageResult}]]";
//        if (title !== null && title !== "") {
//            Swal.fire({
//                icon: 'success',
//                title: "Notification !",
//                text: title
//            });
//        }

        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        loadStaffList();
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>