<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Module</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="/admin/staffdashboard">Dashboard</a></li>
                            <!--<li class="breadcrumb-item active">Module</li>-->
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Solid justified</h4> -->
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboard">Dashboard</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link " href="/pages/staffdashboardmodule">Module</a></li>
                                                        <li class="nav-item"><a class="nav-link " href="/pages/staffdashboardcourse">Course</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboardstudent">Student</a></li>
                            <li class="nav-item"><a class="nav-link " href="/admin/staffdashboardclass">Class</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/admin/staffdashboardadvise">Advise</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link" href="visited-jobs.html">Visitied </a></li>
                                                        <li class="nav-item"><a class="nav-link" href="archived-jobs.html">Archived </a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">

                                    <div class="card-box">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table mb-0 datatable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <!--                                                                                                                <th class="text-center">Job Type</th>
                                                                                                                                                                        <th class="text-center">Aptitude Test</th>-->
                                                        <th class="text-center">Schedule Advise</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="e : ${adviseList}">
                                                        <td th:text="${e.getAdviseid()}"></td>
                                                        <td th:text="${e.getAdvisename()}"></td>
                                                        <td th:text="${e.getAdviseemail()}"></td>
<!--                                                                                                                <td class="text-center">
                                                                                                                    <div class="action-label">
                                                                                                                        <a class="btn btn-white btn-sm btn-rounded" href="#">
                                                                                                                            <i class="fa fa-dot-circle-o text-danger"></i> Full Time
                                                                                                                        </a>
                                                                                                                    </div>
                                                                                                                </td>
                                                                                                                <td class="text-center">
                                                                                                                    <a href="javascript:void(0);" class="btn btn-primary disabled"><span>Selected</span></a>
                                                                                                                </td>-->
                                                                                                                <td class="text-center">
                                                                                                                    <a href="javascript:void(0);" class="btn btn-primary aptitude-btn" data-toggle="modal" data-target="#selectMyTime"><span>Select Your Time Here</span></a>
                                                                                                                </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Page Content -->
            </div>
            <div id="selectMyTime" class="modal  custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Select Your Time</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Day1 <span class="text-danger">*</span></label>
                                        <select class="form-control" name="designations" id="designations">
                                            <option value="">11.00am - 11.30am (24 Feb 2020) </option>
                                            <option value="">1.00pm - 1.30pm (25 Feb 2020) </option>
                                            <option value="">3.00pm - 3.30pm (26 Feb 2020) </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btn delete-action mt-3">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary btn-block cancel-btn">Submit</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary btn-block cancel-btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>