<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/pages/admin_layout">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <!--<h3 class="page-title">Module</h3>-->
                        <ul class="breadcrumb" style="font-size: 18px">
                            <li class="breadcrumb-item"><a href="/admin/staffdashboard">Dashboard</a></li>
                            <!--<li class="breadcrumb-item active">Module</li>-->
                        </ul>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Solid justified</h4> -->
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link active" href="/admin/staffdashboard">Dashboard</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link" href="/pages/staffdashboardmodule">Module</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="/pages/staffdashboardcourse">Course</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboardstudent">Student</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/staffdashboardclass">Class</a></li>

                            <!--<li class="nav-item"><a class="nav-link" href="/admin/staffdashboardadvise">Advise</a></li>-->
                            <!--                            <li class="nav-item"><a class="nav-link" href="visited-jobs.html">Visitied </a></li>
                                                        <li class="nav-item"><a class="nav-link" href="archived-jobs.html">Archived </a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="card dash-widget">
                            <div class="card-body">
                                <span class="dash-widget-icon"><i class="fa fa-briefcase"></i></span>
                                <div class="dash-widget-info">
                                    <h3><span th:text="${listsize}"></span></h3>
                                    <span>Advised - Student</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="card dash-widget">
                            <div class="card-body">
                                <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
                                <div class="dash-widget-info">
                                    <h3><span th:text="${classOpening}"></span></h3>
                                    <span>Opening - Class</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="card dash-widget">
                            <div class="card-body">
                                <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                                <div class="dash-widget-info">
                                    <h3><span th:text="${classProcessing}"></span></h3>
                                    <span>In Progress - Class</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-table">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Advised - Student List</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-nowrap custom-table mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="e : ${adviseList}">
                                                <td th:text="${e.getAdviseid()}"></td>
                                                <td th:text="${e.getAdvisename()}"></td>
                                                <td th:text="${e.getAdviseemail()}"></td>
                                                <td class="text-center">
                                                    <div class="dropdown action-label" th:switch="${e.getAdivsestatus()}">
                                                        <i class="fa fa-dot-circle-o text-info" th:case="'0'"></i>
                                                        <!--                                                        <a class="btn btn-white btn-sm btn-rounded" th:case="'0'" href="#">
                                                                                                                    
                                                                                                                </a>-->
                                                        <i class="fa fa-dot-circle-o text-danger" th:case="'1'"></i>
                                                        <!--                                                        <a class="btn btn-white btn-sm btn-rounded" th:case="'1'" href="#">
                                                                                                                    
                                                                                                                </a>-->
                                                        <!--                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                                    <a class="dropdown-item" href="#" ><i class="fa fa-dot-circle-o text-info"></i></a>
                                                                                                                    <a class="dropdown-item" href="#" th:case="1"><i class="fa fa-dot-circle-o text-success"></i></a>
                                                                                                                    <a class="dropdown-item" href="#" th:case="'1'"><i class="fa fa-dot-circle-o text-danger"></i></a>
                                                                                                                </div>-->
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-table">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Appoinment List</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-nowrap custom-table mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                                                        <tr>
                                                                                            <td>1</td>
                                                                                            <td>
                                                                                                <h2 class="table-avatar">
                                                                                                    <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                                                                                    <a href="profile.html">John Doe <span>Web Designer</span></a>
                                                                                                </h2>
                                                                                            </td>
                                                                                            <td><a href="job-details.html">Web Developer</a></td>
                                                                                            <td>Development</td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown action-label">
                                                                                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                                                                        <i class="fa fa-dot-circle-o text-danger"></i> Open
                                                                                                    </a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Cancelled</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown dropdown-action">
                                                                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>2</td>
                                                                                            <td>
                                                                                                <h2 class="table-avatar">
                                                                                                    <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-09.jpg"></a>
                                                                                                    <a href="profile.html">Richard Miles <span>Web Developer</span></a>
                                                                                                </h2>
                                                                                            </td>
                                                                                            <td><a href="job-details.html">Web Designer</a></td>
                                                                                            <td>Designing</td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown action-label">
                                                                                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                                                                        <i class="fa fa-dot-circle-o text-success"></i> Closed
                                                                                                    </a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Cancelled</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown dropdown-action">
                                                                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>3</td>
                                                                                            <td>
                                                                                                <h2 class="table-avatar">
                                                                                                    <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-10.jpg"></a>
                                                                                                    <a href="profile.html">John Smith <span>Android Developer</span></a>
                                                                                                </h2>
                                                                                            </td>
                                                                                            <td><a href="job-details.html">Android Developer</a></td>
                                                                                            <td>Android</td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown action-label">
                                                                                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                                                                        <i class="fa fa-dot-circle-o text-danger"></i> Cancelled
                                                                                                    </a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
                                                                                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Cancelled</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <div class="dropdown dropdown-action">
                                                                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            
<!--            <div id="edit_department" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Center</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/setting/update}" th:object="${center}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Center Code <span class="text-danger">*</span></label>
                                    <input id="centercodes" class="form-control" value="" type="text" th:field="*{centercode}" readonly="true">
                                </div>
                                <div class="form-group">
                                    <label>Center Name <span class="text-danger">*</span></label>
                                    <input id="centernames" class="form-control" value="" th:field="*{centername}" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Center Phone <span class="text-danger">*</span></label>
                                    <input id="centerphones" class="form-control" value="" th:field="*{centerphone}" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Center Address <span class="text-danger">*</span></label>
                                    <textarea id="centeraddresss" class="form-control" th:field="*{centeraddress}"></textarea>
                                </div>
                                <input hidden="true" id="centernotes" class="form-control" value="" th:field="*{centernote}" type="text"> 
                                    <input hidden="true" id="centerdefaults" class="form-control" th:field="*{centerdefault}" type="number"/>
                                    <input hidden="true" id="isdeletes" class="form-control" th:field="*{isdelete}" type="number"/>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- /Page Content -->
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var active = localStorage.getItem('active');
        var actives = active.substr(0, 11);
        $('#leftsidebarMenu li a').removeClass('active');
        $('#leftsidebarMenu li').removeClass('active');
        $('#leftsidebarMenu li.' + actives).addClass('active');
    });
</script>

